@charset "ISO-8859-1";

.registered-users-container {
  max-width: 800px;
  margin: 0 auto;
}

.search-bar {
  margin-bottom: 20px;
}

.sort-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.filter-options {
  margin-bottom: 20px;
}

/* Dodajte stilove za tabelu i njene elemente */
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
}
