@charset "ISO-8859-1";

/*-----------------------------LOGIN PAGE----------------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}

.login-container {
  background-color: #222222;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 40px;
  max-width: 400px;
  width: 100%;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form select,
.login-form input[type="date"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  background-color: #333333;
  transition: background-color 0.3s ease;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus,
.login-form select:focus,
.login-form input[type="date"]:focus {
  background-color: #444444;
}

.login-form input[type="text"]::placeholder,
.login-form input[type="password"]::placeholder,
.login-form select option[disabled],
.login-form input[type="date"]::placeholder {
  color: #999999;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 25px;
  background-color: #2196F3;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form input[type="submit"]:hover {
  background-color: #0c7cd5;
}

.login-form .form-footer {
  margin-top: 15px;
  text-align: center;
}

.login-form .form-footer a {
  color: #2196F3;
  text-decoration: none;
  margin-right: 10px; /* Add margin-right for spacing between links */
}

.login-form .form-footer .separator {
  color: #999999;
  margin: 0 10px; /* Add margin around separator */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-container {
  animation: fade-in 0.6s ease;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form select,
.login-form input[type="date"],
.login-form input[type="submit"],
.login-form .form-footer a {
  opacity: 0;
  animation: fade-in 0.6s ease forwards;
  animation-delay: 0.3s;
}
.form-field {
  position: relative;
}

.error-message {
  position: absolute;
  bottom: -1.5rem; /* Adjust the value as needed */
  font-size: 0.8rem;
  color: red;
}
