.create-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

h2 {
    color: #3498db;
}

h3 {
  color: #222; 
}

h4 {
  color: #666; 
}

p {
  color: #777; 
}

.login-form {
    display: flex;
    flex-direction: column;
}

small {
    color: #3498db;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #3498db;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  text-align: center;
  margin: 20px;
}

.list-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px; /* Add margin-bottom to create space between items */
}

button {
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 14px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
}

button:hover {
  background-color: #2980b9;
}

.sort-button {
  padding: 10px 15px;
  margin: 10px 0;
  font-size: 14px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.sort-button:hover {
  background-color: #2980b9;
}
    
.centered-div {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* Optional: If you want to center the content horizontally */
}

.view-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
}

.login-form select {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #3498db;
    border-radius: 4px;
    background-color: #fff; /* Background color for the select */
    color: #3498db; /* Text color for the select */
}

.login-form select:hover {
    border-color: #2980b9;
}

.login-form select:focus {
    outline: none;
    border-color: #2980b9;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.login-form select::after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #3498db;
}

.comments {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 20px; /* Add margin-top to create space between sections */
}

.comments p {
  color: #777;
}

.comments div {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
}